<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sapSoapRfc" type="SharpSapRfc.Soap.Configuration.SapSoapRfcConfigurationSection, SharpSapRfc.Soap" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>


  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>

  <sapSoapRfc>
    <destinations>
      <add name="DEV"
           rfcUrl="http://172.16.254.226:8000/sap/bc/soap/wsdl:8000/sap/bc/soap/rfc"
           wsdlUrl="http://172.16.254.226:8000/sap/bc/soap/wsdl:8000/sap/bc/soap/wsdl"
           client="001"
           user="plunz"
           password="epic321"/>
    </destinations>
  </sapSoapRfc>
</configuration>